%h1 Listing ALL procurements
%table
  %thead
    %tr
      %th Name
      %th Proc start date
      %th Proc end date
      %th Proc terms
      %th Proc delivery date
      %th{:colspan => "3"}
  %tbody
    - @procurements.each do |procurement|
      %tr
        %td= procurement.name
        %td= procurement.proc_start_date
        %td= procurement.proc_end_date
        %td= procurement.proc_terms
        %td= procurement.proc_delivery_date
        %td= link_to 'Show', visitor_procurement_path(procurement)
