<%= simple_form_for @procurement do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Title' %>
    <%= f.input :proc_start_date, label: 'Start Date' %>
    <%= f.input :proc_end_date, label: 'End Date' %>
    <%= f.input :proc_terms, label: 'Terms and Conditions' %>
    <%= f.input :proc_delivery_date, label: 'Delivery Date' %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
