= simple_form_for @procurement, html_input: {class: 'form-horizontal'} do |f|
  = f.error_notification
  .form-inputs
    = f.input :category, wrapper: :horizontal_form do
      = f.select :category, Procurement.categories.keys.map {|cat| [cat.titleize,cat]}, include_blank: true
    = f.input :name, label: 'Title', wrapper: :horizontal_form
    = f.input :proc_start_date, label: 'Start Date', as: :datepicker, wrapper: :horizontal_form
    = f.input :proc_end_date, label: 'End Date', as: :datepicker, wrapper: :horizontal_form
    = f.input :proc_terms, label: 'Terms and Conditions', wrapper: :horizontal_form, input_html: {rows: 10, cols: 20}
    = f.input :proc_delivery_date, label: 'Delivery Date', as: :datepicker, wrapper: :horizontal_form
    = f.input :documents, label: "Extra Documentation", wrapper: :horizontal_file_input do
      = f.file_field :documents, label: "Extra Documentation", multiple: true, name: 'documents[]'

    - if @procurement.documents
      - @procurement.documents.each do |doc|
        %li
          = link_to "#{doc.document_file_name}", doc.document.url
    %p          
      %label Products
      .row.clearfix
        .col-md-12.table-responsive
          %table#table1.table.table-bordered.table-hover
            %thead
              %tr
                %th.text-center
                  Product
                %th.text-center
                  Quantity
                %th.text-center
                  Requirements
                %th.text-center{:style => "border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;"}
            %tbody.product_list
              = f.simple_fields_for :procurement_products do |form|
                = render 'procurement_product_fields', :f => form
      .links
        = link_to_add_association 'Add', f, :procurement_products, :"data-association-insertion-node" => "tbody.product_list", :"data-association-insertion-method" => "append", class: 'btn btn-default btn-sm pull-right' |
    .form-actions
      = f.button :submit