<%= simple_form_for @procurement, html_input: {class: 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category do %>
      <%= f.select :category, Procurement.categories.keys.map {|cat| [cat.titleize,cat]}, include_blank: true %>
    <% end %>
    <%= f.input :name, label: 'Title' %>
    <%= f.input :proc_start_date, label: 'Start Date' %>
    <%= f.input :proc_end_date, label: 'End Date' %>
    <%= f.input :proc_terms, label: 'Terms and Conditions' %>
    <%= f.input :documents, label: "Extra Documentation" do %>
      <%= f.file_field :documents, {multiple: true, name: "documents[]"}  %>
    <% end %>
    <%= f.input :proc_delivery_date, label: 'Delivery Date' %>

    <label>Products</label>

    <div class="row clearfix">
      <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-hover" id="table1">
          <thead>
            <tr >
              <th class="text-center">
                Product
              </th>
              <th class="text-center">
                Quantity
              </th>
                <th class="text-center">
                Requirements
              </th>
                  <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
              </th>
            </tr>
          </thead>
          <tbody class="product_list">
            <%= f.simple_fields_for :procurement_products do |form| %>
              <%#= render 'product_list', :f => form %>
              <%= render 'procurement_product_fields', :f => form %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="links">
      <%= link_to_add_association 'Add', f, :procurement_products,
        :"data-association-insertion-node" => "tbody.product_list", :"data-association-insertion-method" => "append", class: 'btn btn-default btn-sm pull-right' %>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
