%h1 Best Offers
- @procurements.each do |procurement|
  .panel.panel-default
    .panel-heading.text-center
      = procurement.name
      %button.btn.btn-sm.pull-right{"data-target" => "##{procurement.id}", "data-toggle" => "collapse"}
        %span.caret
    .panel-body.collapse{id: procurement.id}
      - procurement.procurement_products.each do |p_product|
        - conflicts = p_product.find_best_offer
        .product
        - if p_product.best_offer_id
          Product Name: 
          = p_product.product.name
          %br
          Winner:
          = Offer.find(p_product.best_offer_id).user.name
          %br
          Winning Offer:
          = link_to "Show Offer", user_offer_url(Offer.find(p_product.best_offer_id).user, Offer.find(p_product.best_offer_id))
        - elsif conflicts.is_a? String
          = conflicts
        - else
          - conflicts.each do |conflict|
            %li= link_to conflict
