%h1 Αποτελέσματα Προκυρήξεων
- @procurements.each do |procurement|
  .panel.panel-default
    .panel-heading.text-center
      %span
        %strong Διαγωνισμός:
        = link_to procurement.name, procurement_path(procurement)
      %span
        %strong Έναρξη:
        = procurement.proc_start_date
      %span
        %strong Λήξη:
        = procurement.proc_end_date
      %span
        %strong Παράδοση:
        = procurement.proc_delivery_date
      %span
        %strong Είδος:
        = procurement.category
      %button.btn.btn-sm.pull-right{"data-target" => "##{procurement.id}",
                                    "data-toggle" => "collapse"}
        %span.caret
    .panel-body.collapse{:id => procurement.id}
      - procurement.procurement_products.each do |p_product|
        - conflicts = p_product.find_best_offer
        .panel.panel-default
          .panel-heading
            Προϊόν:
            %span= p_product.product.name
          %p
            %span
              Περιγραφή: #{p_product.product.description}
            %span
              Ποσότητα: #{p_product.quantity}
            %span
              Απαιτήσεις: #{p_product.requirements}
          .row.clearfix
            .col-md-12.table-responsive
              %table.table.table-bordered.table-hover
                %thead
                  %tr
                    %th.text-center
                      ID Προσφ.
                    %th.text-center
                      Email Προμηθευτή
                    %th.text-center
                      Τιμή Προσφοράς
                    -# - unless conflicts.nil?
                      %th.text-center{:style => "border-top: 1px solid #ffffff;|
                                              border-right: 1px solid #ffffff;"}|
                %tbody
                  - if p_product.best_offer_id
                    - offer = Offer.find(p_product.best_offer_id)
                    %tr
                      %td
                        = link_to "#{offer.id}.",
                                  user_offer_path(offer.user, offer)
                      %td
                        = offer.user.email
                      %td
                        = offer.offer_economical
                  - elsif conflicts.is_a? String
                    = conflicts
                  - elsif conflicts.count > 1
                    - conflicts.each do |of|
                      %tr
                        %td
                          = link_to "#{of.id}.",
                                    user_offer_path(of.user, of)
                        %td
                          = of.user.email
                        %td
                          = of.offer_economical
                        %td
                          = link_to "Επιλογή ως Βέλτιστης",
                              procurement_set_best_offer_path(procurement,
                                                              procurement_product_id: p_product.id,
                                                              offer_id: of.id ),
                              method: :put,
                              class: "btn btn-default",
                              data: { :confirm => "Are you sure?" }
                  - else
                    Δεν βρέθηκαν Προσφορές για το προϊόν.

= paginate @procurements