%h1 Αξιολόγηση Προσφορών
- @procurements.each do |procurement|
  .panel.panel-default
    .panel-heading.text-center
      %span
        %strong Διαγωνισμός:
        = link_to procurement.name, procurement_path(procurement)
      %span
        %strong Έναρξη:
        = procurement.proc_start_date
      %span
        %strong Λήξη:
        = procurement.proc_end_date
      %span
        %strong Παράδοση:
        = procurement.proc_delivery_date
      %span
        %strong Είδος:
        = procurement.category
      %button.btn.btn-sm.pull-right{"data-target" => "##{procurement.id}",
                                    "data-toggle" => "collapse"}
        %span.caret
    .panel-body.collapse{:id => procurement.id}
      - procurement.procurement_products.each do |prod|
        .panel.panel-default
          .panel-heading
            Προϊόν:
            %span= prod.product.name
          %p
            %span
              Περιγραφή: #{prod.product.description}
            %span
              Ποσότητα: #{prod.quantity}
            %span
              Απαιτήσεις: #{prod.requirements}
          .row.clearfix
            .col-md-12.table-responsive
              %table.table.table-bordered.table-hover
                %thead
                  %tr
                    %th.text-center
                      ID Προσφ.
                    %th.text-center
                      Email Προμηθευτή
                    %th.text-center
                      Τιμή Προσφοράς
                    - if procurement.advantageous?
                      %th.text-center
                        Τεχνική Αξιολόγηση
                      %th.text-center{:style => "border-top: 1px solid #ffffff; |
                                            border-right: 1px solid #ffffff;"}  |
                %tbody
                  - prod.product.offers.each do |offer|
                    %tr
                      %td
                        = link_to "#{offer.id}.", user_offer_path(offer.user,
                                                                  offer)
                      %td
                        = offer.user.email
                      %td
                        = offer.offer_economical
                      - if procurement.advantageous?
                        = simple_form_for [offer.user, offer],
                              url: user_offer_update_tech_eval_path(offer,
                                                                    offer.user),
                              method: :put do |f|
                          - unless offer.tech_eval
                            %td
                              = f.input :tech_eval,
                                        label: false
                            %td
                              = f.submit "Καταχώρηση Βαθμού",
                                          class: "btn btn-default",
                                          data: { :confirm => "Are you sure?" }
                          - else
                            %td
                              = offer.tech_eval