%p#notice= notice
%p
  %strong Κατηγορία:
  = @procurement.category.titleize if @procurement.category
%p
  %strong Τίτλος:
  = @procurement.name
%p
  %strong Ημ/νία Έναρξης:
  = @procurement.proc_start_date
%p
  %strong Ημ/νία Λήξης:
  = @procurement.proc_end_date
%p
  %strong Όροι/Σχόλια:
  = @procurement.proc_terms
%p
  %strong Ημ/νία Παράδοσης:
  = @procurement.proc_delivery_date
.row.clearfix
  .col-md-12.table-responsive
    %table#tab_logic.table.table-bordered.table-hover.table-sortable
      %thead
        %tr
          %th.text-center
            Προϊόν
          %th.text-center
            Ποσότητα
          %th.text-center
            Απαιτήσεις/Διευκρινήσεις
          %th.text-center{:style => "border-top: 1px solid #ffffff;    |
                                    border-right: 1px solid #ffffff;"} |
      %tbody
        - @procurement_products.each do |product|
          %tr
            %td
              = product.product.name
            %td
              = product.quantity
            %td
              = product.requirements
            %td
              = link_to "Προσφορά",                                     |
                        new_offer_path(current_user,                    |
                                      product_id: product.product.id,   |
                                      procurement_id: @procurement.id), |
                        class: 'btn btn-default'                        |
              if user_signed_in? && current_user.supplier?              |
%label Έγγραφα:
.panel.panel-default
  - @procurement.documents.each do |doc|
    %li
      = link_to "#{doc.document_file_name}", doc.document.url
- if policy(@procurement).edit?
  = link_to 'Edit', edit_procurement_path(@procurement)
  |
-if policy(@procurement).destroy?
  = link_to 'Delete',
            procurement_path(@procurement),
            :data => { :confirm => "Are you sure?" },
            method: :delete
  |
= link_to 'Back', :back