- if @offer.new_record?
  .prod
    %label Προϊόν:
    = @product.name
  .title
    %strong Τίτλος Προκύρηξης:
    = link_to @procurement.name,
              procurement_url(@procurement),
              target: :blank

= simple_form_for [current_user, @offer], html: {class: 'form_horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :product_id,
              input_html: {value: params[:product_id]},
              wrapper_html: {class: 'hidden'}
    = f.input :procurement_id,
              input_html: {value: params[:procurement_id]},
              wrapper_html: {class: 'hidden'}
    = f.input :user_id,
              input_html: {value: current_user.id},
              wrapper_html: {class: 'hidden'}

    = f.input :offer_economical,
              label: 'Οικονομική Προσφορά',
              wrapper: :horizontal_form
    - if @procurement.category == 'advantageous'
      = f.input :offer_technical,
                label: 'Τεχνική Προσφορά',
                wrapper: :horizontal_form
      = f.input :delivery_date,
                label: 'Ημ/νια Παράδοσης',
                as: :datepicker,
                wrapper: :horizontal_form
    = f.input :documents,
              label: 'Έγγραφα',
              wrapper: :horizontal_file_input do
      = f.file_field :documents, multiple: true, name: 'documents[]'

  .form-actions
    = f.button :submit, 'Καταχώρηση'
