%h1 Λίστα Προσφορών
%table
  %thead
    %tr
      %th Προϊόν
      %th Τεχνική Προσφορά
      %th Οικονομική Προσφορά
      %th Ημ/νία Παράδοσης
      %th{:colspan => "3"}
  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.product.name
        %td= offer.offer_technical
        %td= offer.offer_economical
        %td= offer.delivery_date
        %td= link_to 'Show', [current_user, offer]
        %td= link_to 'Edit', edit_user_offer_path(current_user, offer)
        %td= link_to 'Destroy',[current_user, offer], method: :delete, data: { confirm: 'Are you sure?' }
%br/
