%p#notice= notice
%label
  %h4
  Procurement Call:
  = link_to @offer.procurement.name, procurement_path(@procurement)
  %br
    Offer for: 
    = @offer.product.name.titleize

%p
  %strong Offer economical:
  = @offer.offer_economical
  €

- if @procurement.advantageous?
  %p
    %strong Offer technical:
    = @offer.offer_technical
  %p
    %strong Delivery date:
    = @offer.delivery_date

-if @offer.documents
  %label Documentation:
  .panel.panel-default
    - @offer.documents.each do |doc|
      %li
        = link_to "#{doc.document_file_name}", doc.document.url
= link_to 'Edit', edit_user_offer_path(current_user, @offer)
|
\#{link_to 'Back', user_offers_path(current_user)}
