%p#notice= notice
%label
  %h4
  Τίτλος Προκύρηξης:
  = link_to @offer.procurement.name, procurement_path(@procurement)
  %br
    Προσφορά για:
    = @offer.product.name.titleize

%p
  %strong Οικονομική Προσφορά:
  = @offer.offer_economical
  €

- if @procurement.advantageous?
  %p
    %strong Τεχνική Προσφορά:
    = @offer.offer_technical
  %p
    %strong Ημ/νία Παράδοσης:
    = @offer.delivery_date

-if @offer.documents
  %label Έγγραφα:
  .panel.panel-default
    - @offer.documents.each do |doc|
      %li
        = link_to "#{doc.document_file_name}", doc.document.url
= link_to 'Edit', edit_user_offer_path(current_user, @offer)
|
\#{link_to 'Back', user_offers_path(current_user)}

- if policy(@offer).send_winner_email? && @procurement_product.best_offer_id == @offer.id
  = link_to "Στείλε Email στον νικητή", send_winner_email_user_offer_path(@offer.user, @offer), class: "btn btn-default", data: { confirm: 'Are you sure?' }