<p id="notice"><%= notice %></p>

<p>
  <strong>Offer technical:</strong>
  <%= @offer.offer_technical %>
</p>

<p>
  <strong>Offer economical:</strong>
  <%= @offer.offer_economical %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @offer.delivery_date %>
</p>

<%= link_to 'Edit', edit_user_offer_path(current_user, @offer) %> |
<%= link_to 'Back', user_offers_path(current_user) %>
