= simple_form_for([@category, @product]) do |f|
  = f.error_notification
  .form-inputs
    = f.association :category
    = f.input :name
    = f.input :description
  .form-actions
    = f.button :submit
