= simple_form_for([@category, @product]) do |f|
  = f.error_notification
  .form-inputs
    = f.association :category, label: 'Κατηγορία'
    = f.input :name, label: 'Όνομα'
    = f.input :description, label: 'Περιγραφή'
  .form-actions
    = f.button :submit
