%p#notice= notice
%p
  %strong Όνομα:
  = @product.name
%p
  %strong Περιγραφή:
  = @product.description
= link_to 'Edit', edit_category_product_path(@category, @product)
|
= link_to "Delete", category_product_path(@category,@product), :data => { :confirm => "Are you sure?" }, :method => :delete
\#{link_to 'Back', products_path}