%li= link_to 'Home', root_path
%li= link_to 'Προκυρήξεις', procurements_path
%li
  - if user_signed_in?
    - if current_user.admin?
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Admin Toolbox
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li= link_to 'Χρήστες', users_path
          %li.divider
          %li= link_to 'Κατηγορίες', categories_path
          %li= link_to 'Προϊόντα', products_path
          %li.divider
          %li= link_to 'Νέα Προκύρηξη', new_procurement_path
          %li= link_to("Ληγμένες Προκυρήξεις", expired_procurements_path)
          %li.divider
          %li= link_to 'Βέλτιστες Προσφορές', best_offers_path
    - elsif current_user.supplier?
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          User Toolbox
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li= link_to 'Ενεργές Προσφορές', user_offers_path(current_user)
          %li= link_to 'Ληγμένες Προσφορές', index_old_user_offers_path(current_user)