<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Eproc Ror" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Eproc Ror" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag(:atom, procurements_url(:format => :atom)) %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container-fluid">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="modal-footer">
      <div class="container">
        <ul class="list-inline">
          <li><%= link_to 'Terms of Service', terms_path %></li>
          <li><%= link_to 'Help', help_path %></li>
          <li><%= link_to 'Contact Us', contact_path %></li>
        </ul>
        <p class="text-muted">E-Proc Alpha. Upatras 2013-2014</p>
      </div>
    </footer>
  </body>
</html>
